.mobile {
  	width: 100%;
  	height: 760px;
  	position: relative;
  	background: linear-gradient(180deg, #541616 69.23%, #eeb31a);
  	overflow-y: auto;
  	text-align: center;
  	font-size: 20px;
  	color: #000;
  	font-family: Lato;
}
.mobile-child {
  	position: absolute;
  	top: 0px;
  	left: -771px;
  	width: 1620px;
  	height: 1080px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.reset-password-parent {
  	position: absolute;
  	width: calc(100% - 81px);
  	top: 21px;
  	right: 40px;
  	left: 41px;
  	backdrop-filter: blur(17.79px);
  	border-radius: 28.46px;
  	background: rgba(238, 179, 26, 0.13) padding-box, linear-gradient(135.59deg, #541616, #d36464) border-box;
  	border: 2.1px solid transparent;
  	box-sizing: border-box;
  	height: 332px;
  	overflow: hidden;
  	flex-shrink: 0;
  	font-size: 32px;
  	color: #fff;
}
.reset-password {
  	position: absolute;
  	width: calc(100% - 2px);
  	top: 20px;
  	left: 2px;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 29px;
  	flex-shrink: 0;
}
.rectangle-parent {
  	position: absolute;
  	width: calc(100% - 85px);
  	top: 223px;
  	right: 42px;
  	left: 43px;
  	height: 72px;
  	flex-shrink: 0;
  	font-size: 24px;
}
.group-child {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	box-shadow: 0px 9px 14px rgba(255, 141, 77, 0.2);
  	border-radius: 50px;
  	background: linear-gradient(180deg, #bb043f, #980000);
  	height: 72px;
}
.confirm {
  	position: absolute;
  	right: 63px;
  	bottom: 22px;
}
.frame-parent {
  	position: absolute;
  	width: calc(100% - 44px);
  	top: 77px;
  	right: 22px;
  	left: 22px;
  	height: 121px;
  	flex-shrink: 0;
  	text-align: left;
  	font-size: 13px;
}
.frame-group {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	height: 57px;
  	overflow: hidden;
}
.frame-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 31px;
  	height: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.new-password-parent {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.new-password {
  	position: relative;
}
.password-parent {
  	width: 250px;
  	height: 32px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 0.7px solid #bcbec0;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 16px;
  	gap: 20px;
  	color: #bcbec0;
}
.password {
  	position: relative;
  	flex-shrink: 0;
}
.clarityeye-hide-line-icon {
  	height: 11.4px;
  	width: 11.4px;
  	position: relative;
  	border-radius: 28.46px;
  	flex-shrink: 0;
}
.confirm-password-parent {
  	position: absolute;
  	top: 65px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.footer-2 {
  	position: absolute;
  	width: 100%;
  	right: 0px;
  	bottom: 48px;
  	left: 0px;
  	height: 175px;
  	display: none;
  	align-items: center;
  	justify-content: space-between;
  	padding: 64px;
  	box-sizing: border-box;
  	gap: 0px;
  	flex-shrink: 0;
}
.pampanga-state-u-logo-small-1-icon {
  	width: 57px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
  	flex-shrink: 0;
}
.text {
  	width: 144px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	gap: 32px;
  	flex-shrink: 0;
}
.company {
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.pampanga-state-university {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 145%;
  	font-weight: 600;
}
.nav {
  	display: flex;
  	align-items: flex-start;
  	gap: 32px;
  	flex-shrink: 0;
  	text-align: left;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.55);
}
.learn-more {
  	position: relative;
  	line-height: 145%;
  	font-weight: 500;
}
.social-links {
  	width: 81px;
  	display: flex;
  	align-items: center;
  	gap: 24px;
  	flex-shrink: 0;
}
.social-link-1 {
  	height: 24px;
  	width: 24px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.facebook {
  	position: absolute;
  	height: calc(100% + 3px);
  	width: calc(100% + 4px);
  	top: -2px;
  	right: -2px;
  	bottom: -1px;
  	left: -2px;
  	opacity: 0.52;
  	flex-shrink: 0;
}
.social-link-2 {
  	height: 33px;
  	width: 33px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.youtube {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	opacity: 0.52;
}
.footer-3 {
  	position: absolute;
  	width: 100%;
  	right: -1px;
  	bottom: -4px;
  	left: 1px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 64px 24px;
  	box-sizing: border-box;
  	gap: 13px;
  	flex-shrink: 0;
}
.pampanga-state-u-logo-small-1-icon2 {
  	width: 86px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.text2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 7px;
}
.company2 {
  	display: flex;
  	align-items: center;
}
.pampanga-state-university2 {
  	width: 326px;
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 145%;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
}
.nav2 {
  	align-self: stretch;
  	height: 46px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	text-align: left;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.55);
}
.social-links2 {
  	display: flex;
  	align-items: center;
  	gap: 16px;
}
.social-link-12 {
  	width: 24px;
  	position: relative;
  	max-height: 100%;
}
.social-link-22 {
  	width: 33px;
  	position: relative;
  	max-height: 100%;
}

