.m-settings {
  	width: 100%;
  	height: 933px;
  	position: relative;
  	background: linear-gradient(180deg, rgba(84, 22, 22, 0.85), rgba(148, 55, 47, 0.85) 65%, rgba(238, 179, 26, 0.85));
  	overflow-y: auto;
  	text-align: left;
  	font-size: 16px;
  	color: #aaa;
  	font-family: Lato;
}
.navigations {
  	position: absolute;
  	width: calc(100% + 905px);
  	top: 0px;
  	right: -905px;
  	left: 0px;
  	box-shadow: 0px 11px 20.6px rgba(0, 0, 0, 0.25);
  	background-color: #eeb31a;
  	height: 56px;
  	display: none;
  	flex-shrink: 0;
}
.navigationsyt-button {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 169px;
  	flex-shrink: 0;
}
.navigationssearchbox {
  	position: absolute;
  	width: 40.84%;
  	top: 8px;
  	right: 31.1%;
  	left: 28.06%;
  	height: 40px;
  	flex-shrink: 0;
}
.navigationssearchboxarea {
  	position: absolute;
  	height: calc(100% - 11px);
  	width: calc(100% - 43.7px);
  	top: 5px;
  	right: 43.9px;
  	bottom: 6px;
  	left: -0.2px;
  	border-radius: 9px;
  	background-color: #fff;
}
.navigationssearchbox2 {
  	position: absolute;
  	width: calc(100% - 64px);
  	top: 0px;
  	right: 63.5px;
  	left: 0.5px;
  	border-radius: 2px 0px 0px 2px;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.border-bottom {
  	position: absolute;
  	width: 100%;
  	top: 39px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
}
.border-left {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 1px;
}
.border-top {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
}
.navigationssearchboxplacehol {
  	position: absolute;
  	height: calc(100% - 9px);
  	top: 0px;
  	bottom: 9px;
  	left: 6px;
  	width: 54px;
  	display: flex;
  	align-items: flex-start;
  	padding: 6px 2px;
  	box-sizing: border-box;
}
.search {
  	position: relative;
}
.navigationssearchbox-button {
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	border-radius: 0px 2px 2px 0px;
  	width: 64px;
  	height: 40px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 2px 7px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.navigationssearchbox-buttoni {
  	width: 50px;
  	height: 36px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.search2 {
  	position: absolute;
  	height: calc(100% - 12px);
  	width: calc(100% - 26px);
  	top: 0px;
  	right: 13px;
  	bottom: 12px;
  	left: 13px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.navigationssearchboxarea-child {
  	position: absolute;
  	height: calc(100% + 1px);
  	top: -0.5px;
  	right: 63.7px;
  	bottom: -0.5px;
  	border-right: 1px solid #000;
  	box-sizing: border-box;
  	width: 1px;
  	flex-shrink: 0;
}
.navigationsprofile {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 8px;
  	right: 20px;
  	bottom: 8px;
  	width: 245px;
  	flex-shrink: 0;
  	color: #541616;
}
.navigationsprofile2 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 4px 14px;
  	box-sizing: border-box;
}
.profile-pic {
  	height: 32px;
  	width: 32px;
  	position: relative;
  	border-radius: 32px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.user-avatar {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: calc(50% - 16px);
  	background-color: #c4c4c4;
  	width: 32px;
  	height: 32px;
  	flex-shrink: 0;
}
.dropdown {
  	position: absolute;
  	height: calc(100% - 4px);
  	top: 2px;
  	bottom: 2px;
  	left: 0px;
  	border-radius: 8px;
  	width: 92px;
}
.button {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.1);
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 16px;
  	gap: 8px;
  	flex-shrink: 0;
}
.label {
  	position: relative;
  	line-height: 20px;
  	font-weight: 500;
  	flex-shrink: 0;
}
.icon {
  	height: 18px;
  	width: 18px;
  	position: relative;
  	display: none;
  	opacity: 0.5;
  	flex-shrink: 0;
}
.communication-chat-circle {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 9px;
  	bottom: 7px;
  	left: 118px;
  	width: 24px;
  	overflow: hidden;
  	display: grid;
  	grid-template-columns: repeat(1, 2px);
  	justify-content: start;
  	grid-template-rows: repeat(1, 2px);
  	align-content: start;
  	gap: 8px;
}
.communication-bell {
  	position: absolute;
  	top: calc(50% - 11px);
  	right: 64px;
  	width: 24px;
  	height: 24px;
  	overflow: hidden;
  	display: grid;
  	grid-template-columns: repeat(1, 2px);
  	justify-content: start;
  	grid-template-rows: repeat(1, 2px);
  	align-content: start;
  	gap: 8px;
}
.navigationsyt-buttonicon-parent {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 8px;
  	bottom: 8px;
  	left: 20px;
  	width: 229px;
  	flex-shrink: 0;
  	font-size: 36px;
  	font-family: 'Modern Antiqua';
}
.navigationsyt-buttonicon {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px;
  	box-sizing: border-box;
}
.hamburger {
  	height: 24px;
  	width: 24px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.group-child {
  	position: absolute;
  	bottom: 2px;
  	left: 51px;
  	border-radius: 50%;
  	background-color: #d9d9d9;
  	width: 35px;
  	height: 35px;
}
.sikhay-wrapper {
  	position: absolute;
  	height: calc(100% - 6px);
  	top: 6px;
  	bottom: 0px;
  	left: 93px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.sikhay {
  	position: relative;
  	line-height: 94%;
  	background: linear-gradient(180deg, #541616, #94372f 65%, #eeb31a);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	text-shadow: 12px 4px 12.3px rgba(0, 0, 0, 0.25);
}
.footer-3 {
  	position: absolute;
  	width: 100%;
  	right: 0px;
  	bottom: -3px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 18px 24px 24px;
  	box-sizing: border-box;
  	gap: 13px;
  	flex-shrink: 0;
  	text-align: center;
  	font-size: 20px;
  	color: #000;
}
.pampanga-state-u-logo-small-1-icon {
  	width: 86px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.text {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 7px;
}
.company {
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.pampanga-state-university {
  	width: 326px;
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 145%;
  	font-weight: 600;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
}
.nav {
  	width: 327px;
  	height: 46px;
  	display: none;
  	flex-direction: column;
  	align-items: flex-start;
  	flex-shrink: 0;
  	text-align: left;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.55);
}
.learn-more {
  	position: relative;
  	line-height: 145%;
  	font-weight: 500;
}
.social-links {
  	display: flex;
  	align-items: center;
  	gap: 16px;
}
.social-link-1 {
  	width: 24px;
  	position: relative;
  	max-height: 100%;
}
.social-link-2 {
  	width: 33px;
  	position: relative;
  	max-height: 100%;
}
.image-2-icon {
  	position: absolute;
  	width: calc(100% + 948px);
  	top: calc(50% - 417.5px);
  	right: -387px;
  	left: -561px;
  	max-width: 100%;
  	overflow: hidden;
  	height: 882px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.navigations2 {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	box-shadow: 0px 11px 20.6px rgba(0, 0, 0, 0.25);
  	background-color: #eeb31a;
  	height: 56px;
  	flex-shrink: 0;
  	font-family: 'Modern Antiqua';
}
.navigationsyt-button2 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 169px;
  	display: none;
  	flex-shrink: 0;
}
.image-1-icon {
  	position: absolute;
  	width: calc(100% + 1151px);
  	top: calc(50% + 28px);
  	right: -592px;
  	left: -559px;
  	max-width: 100%;
  	overflow: hidden;
  	height: 880px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.navigationssearchbox3 {
  	position: absolute;
  	width: 40.83%;
  	top: 8px;
  	right: 31.11%;
  	left: 28.06%;
  	height: 40px;
  	display: none;
  	flex-shrink: 0;
  	font-family: Roboto;
}
.navigationssearchboxarea2 {
  	position: absolute;
  	height: calc(100% - 11px);
  	width: calc(100% - 44.1px);
  	top: 9px;
  	right: 44.3px;
  	bottom: 2px;
  	left: -0.2px;
  	border-radius: 9px;
  	background-color: #fff;
  	display: none;
}
.border-bottom2 {
  	position: absolute;
  	width: 100%;
  	top: 39px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
  	flex-shrink: 0;
}
.border-left2 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 1px;
  	flex-shrink: 0;
}
.border-top2 {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
  	flex-shrink: 0;
}
.navigationssearchboxplacehol2 {
  	position: absolute;
  	height: calc(100% - 9px);
  	top: 0px;
  	bottom: 9px;
  	left: 6px;
  	width: 54px;
  	display: flex;
  	align-items: flex-start;
  	padding: 6px 2px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.group-parent {
  	position: absolute;
  	bottom: -600px;
  	left: 11px;
  	width: 342px;
  	height: 512px;
  	display: none;
  	flex-shrink: 0;
  	color: #fff;
  	font-family: Inter;
}
.rectangle-parent {
  	position: absolute;
  	width: 100%;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	height: 97px;
}
.group-item {
  	position: absolute;
  	width: 100%;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	border-radius: 6px;
  	background-color: rgba(255, 245, 165, 0.21);
  	height: 97px;
}
.icsharp-outlined-flag-parent {
  	position: absolute;
  	top: 13px;
  	left: 12px;
  	width: 200px;
  	height: 69px;
}
.icsharp-outlined-flag-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 30px;
  	height: 30px;
}
.report-a-problem {
  	position: absolute;
  	top: 8px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
}
.add-account {
  	position: absolute;
  	top: 47px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
  	color: #000;
  	display: none;
}
.log-out {
  	position: absolute;
  	top: 47px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
  	color: #fff5a5;
}
.mdilogout-icon {
  	position: absolute;
  	top: 39px;
  	left: 0px;
  	width: 30px;
  	height: 30px;
}
.icsharp-people-outline-icon {
  	position: absolute;
  	top: 39px;
  	left: 0px;
  	width: 30px;
  	height: 30px;
  	display: none;
}
.rectangle-group {
  	position: absolute;
  	top: 411px;
  	left: calc(50% - 171px);
  	width: 342px;
  	height: 94px;
  	display: none;
}
.group-inner {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 171px);
  	border-radius: 6px;
  	background-color: rgba(255, 245, 165, 0.21);
  	width: 342px;
  	height: 94px;
}
.icoutline-data-exploration-parent {
  	position: absolute;
  	top: 13px;
  	left: 15px;
  	width: 177px;
  	height: 69px;
}
.icoutline-data-exploration-icon {
  	position: absolute;
  	top: 39px;
  	left: 0px;
  	width: 30px;
  	height: 30px;
  	opacity: 0.9;
}
.ridelete-bin-5-line-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 30px;
  	height: 30px;
  	opacity: 0.9;
}
.free-up-space {
  	position: absolute;
  	top: 8px;
  	left: 68px;
  	line-height: 87.52%;
  	font-weight: 600;
  	opacity: 0.9;
}
.data-saver {
  	position: absolute;
  	top: 47px;
  	left: 68px;
  	line-height: 87.52%;
  	font-weight: 600;
  	opacity: 0.9;
}
.rectangle-container {
  	position: absolute;
  	width: 100%;
  	top: 203px;
  	right: 0px;
  	left: 0px;
  	height: 176px;
}
.rectangle-div {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	border-radius: 6px;
  	background-color: rgba(255, 245, 165, 0.21);
  	height: 176px;
}
.about-sikhay-parent {
  	position: absolute;
  	top: 16px;
  	left: 21px;
  	width: 197px;
  	height: 144px;
}
.help-support {
  	position: absolute;
  	top: 47px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
}
.terms-of-service {
  	position: absolute;
  	top: 86px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
}
.tablercircle-letter-i-icon {
  	position: absolute;
  	top: 78px;
  	left: 0px;
  	width: 30px;
  	height: 30px;
}
.material-symbolscredit-card-o-icon {
  	position: absolute;
  	top: 0px;
  	left: 1px;
  	width: 30px;
  	height: 30px;
}
.privacy-policy {
  	position: absolute;
  	top: 125px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
}
.vector-icon {
  	position: absolute;
  	height: 17.36%;
  	top: 82.64%;
  	bottom: 0%;
  	left: 5px;
  	max-height: 100%;
  	width: 20px;
}
.group-div {
  	position: absolute;
  	width: 100%;
  	top: 27px;
  	right: 0px;
  	left: 0px;
  	height: 136px;
}
.group-child2 {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	border-radius: 6px;
  	background-color: rgba(255, 245, 165, 0.21);
  	height: 136px;
}
.account-parent {
  	position: absolute;
  	top: 13px;
  	left: 16px;
  	width: 165px;
  	height: 104px;
}
.security {
  	position: absolute;
  	top: 47px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
  	display: none;
}
.notifications {
  	position: absolute;
  	top: 45px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
}
.privacy {
  	position: absolute;
  	top: 82px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
}
.icoutline-lock-icon {
  	position: absolute;
  	top: 74px;
  	left: 0px;
  	width: 30px;
  	height: 30px;
}
.iconamoonnotification {
  	position: absolute;
  	top: 37px;
  	left: 0px;
  	width: 30px;
  	height: 30px;
}
.material-symbolsprivacy-tip-o {
  	position: absolute;
  	top: 37px;
  	left: 0px;
  	width: 30px;
  	height: 30px;
  	overflow: hidden;
  	display: none;
}
.vector-icon2 {
  	position: absolute;
  	height: 83.33%;
  	width: 66.67%;
  	top: 8.33%;
  	right: 16.67%;
  	bottom: 8.33%;
  	left: 16.67%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	display: none;
}
.actions {
  	position: absolute;
  	top: 392px;
  	left: 5px;
  	line-height: 87.52%;
  	font-weight: 600;
}
.cache-cellular {
  	position: absolute;
  	top: 386px;
  	left: 5px;
  	line-height: 87.52%;
  	font-weight: 600;
  	display: none;
}
.support-about {
  	position: absolute;
  	top: 176px;
  	left: 5px;
  	line-height: 87.52%;
  	font-weight: 600;
}
.account2 {
  	position: absolute;
  	top: 0px;
  	left: 5px;
  	line-height: 87.52%;
  	font-weight: 600;
}
.settings {
  	position: absolute;
  	top: 83.52px;
  	left: 15px;
  	font-size: 38.26px;
  	line-height: 87.52%;
  	color: #fff5a5;
  	display: none;
  	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	flex-shrink: 0;
}
.navigationsprofile3 {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 10px;
  	right: 0px;
  	bottom: 6px;
  	width: 204px;
  	flex-shrink: 0;
  	font-size: 24px;
  	color: #541616;
  	font-family: Lato;
}
.navigationsprofile4 {
  	position: absolute;
  	top: -1px;
  	right: 17px;
  	height: 40px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 4px 14px;
  	box-sizing: border-box;
}
.rectangle-parent2 {
  	position: absolute;
  	height: calc(100% - 15px);
  	top: 7px;
  	bottom: 8px;
  	left: 68px;
  	width: 30px;
  	display: none;
}
.group-child3 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 6px;
  	background-color: #fff;
  	width: 30px;
}
.div {
  	position: absolute;
  	height: calc(100% - 5.8px);
  	top: 2px;
  	left: 8px;
  	line-height: 94%;
  	display: flex;
  	align-items: center;
  	width: 13.1px;
}
.communication-bell2 {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 7px;
  	right: 72px;
  	bottom: 9px;
  	max-height: 100%;
  	width: 24px;
}
.navigationsyt-buttonicon-group {
  	position: absolute;
  	height: calc(100% - 15px);
  	top: 8px;
  	bottom: 7px;
  	left: 11px;
  	width: 217px;
  	flex-shrink: 0;
  	font-size: 36px;
}
.navigationsyt-buttonicon2 {
  	position: absolute;
  	height: calc(100% - 1px);
  	top: 0px;
  	bottom: 1px;
  	left: 0px;
  	width: 35px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px;
  	box-sizing: border-box;
  	isolation: isolate;
}
.hamburger-icon {
  	height: 24px;
  	width: 24px;
  	position: absolute;
  	margin: 0 !important;
  	top: calc(50% - 12px);
  	left: calc(50% - 12.5px);
  	z-index: 0;
  	flex-shrink: 0;
}
.ellipse-div {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 8px;
  	bottom: 8px;
  	left: calc(50% - 65.5px);
  	border-radius: 50%;
  	background-color: #d9d9d9;
  	width: 25px;
}
.sikhay-container {
  	position: absolute;
  	height: calc(100% - 5px);
  	top: 5px;
  	bottom: 0px;
  	left: 67px;
  	width: 150px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.settings2 {
  	position: absolute;
  	top: 83.52px;
  	left: 15px;
  	font-size: 38.26px;
  	line-height: 87.52%;
  	font-family: 'Modern Antiqua';
  	color: #fff5a5;
  	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	flex-shrink: 0;
}
.group-container {
  	position: absolute;
  	bottom: 277px;
  	left: 11px;
  	width: 342px;
  	height: 512px;
  	flex-shrink: 0;
  	color: #fff;
  	font-family: Inter;
}
.about-sikhay-group {
  	position: absolute;
  	top: 24px;
  	left: 21px;
  	width: 197px;
  	height: 136px;
}
.about-sikhay2 {
  	position: absolute;
  	top: 0px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
  	flex-shrink: 0;
}
.help-support2 {
  	position: absolute;
  	top: 39px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
  	flex-shrink: 0;
}
.terms-of-service2 {
  	position: absolute;
  	top: 78px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
  	flex-shrink: 0;
}
.tablercircle-letter-i-icon2 {
  	position: absolute;
  	top: 70px;
  	left: 0px;
  	width: 30px;
  	height: 30px;
  	flex-shrink: 0;
}
.mdiquestion-mark-circle-outli-icon2 {
  	position: absolute;
  	top: 31px;
  	left: 0px;
  	width: 30px;
  	height: 30px;
  	flex-shrink: 0;
}
.material-symbolscredit-card-o-icon2 {
  	position: absolute;
  	top: -8px;
  	left: 1px;
  	width: 30px;
  	height: 30px;
  	display: none;
  	flex-shrink: 0;
}
.privacy-policy2 {
  	position: absolute;
  	top: 117px;
  	left: 66px;
  	line-height: 87.52%;
  	font-weight: 600;
  	flex-shrink: 0;
}
.vector-icon3 {
  	position: absolute;
  	height: 18.38%;
  	top: 81.62%;
  	bottom: 0%;
  	left: 5px;
  	max-height: 100%;
  	width: 20px;
  	flex-shrink: 0;
}
.vector-icon4 {
  	position: absolute;
  	height: 16.48%;
  	top: 9.66%;
  	bottom: 73.86%;
  	left: 20px;
  	max-height: 100%;
  	width: 30px;
}
.personal-info-parent {
  	position: absolute;
  	top: 13px;
  	left: 16px;
  	width: 202px;
  	height: 104px;
}
.container {
  	position: absolute;
  	top: 153px;
  	left: calc(50% + 261.5px);
  	width: 1032px;
  	height: 812px;
  	display: none;
  	flex-shrink: 0;
  	color: #fda829;
  	font-family: Roboto;
}
.account-options {
  	position: absolute;
  	top: 132px;
  	left: 7px;
  	width: 1016px;
  	height: 500px;
}
.professional-hosting-tools {
  	position: absolute;
  	width: calc(100% - 688px);
  	top: 344px;
  	right: 0px;
  	left: 688px;
  	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  	border-radius: 12px;
  	background: linear-gradient(180deg, rgba(136, 102, 15, 0.06), rgba(238, 179, 26, 0.25) 57.69%);
  	height: 156px;
  	color: #fff5a5;
}
.title-description {
  	position: absolute;
  	top: 76px;
  	left: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 13.2px 0px 0px;
  	gap: 8px;
  	flex-shrink: 0;
}
.logout {
  	position: relative;
  	line-height: 20px;
  	font-weight: 600;
}
.logout-your-account {
  	width: 282.8px;
  	position: relative;
  	font-size: 14px;
  	line-height: 18px;
  	color: #541616;
  	display: flex;
  	align-items: center;
}
.mdilogout-icon3 {
  	position: absolute;
  	height: 19.23%;
  	width: 9.15%;
  	top: -10.9%;
  	right: 85.98%;
  	bottom: 91.67%;
  	left: 4.88%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.travel-for-work {
  	position: absolute;
  	width: calc(100% - 688px);
  	top: 344px;
  	right: 344px;
  	left: 344px;
  	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  	border-radius: 12px;
  	background: linear-gradient(180deg, rgba(136, 102, 15, 0.06), rgba(238, 179, 26, 0.25) 57.69%);
  	height: 156px;
}
.title-description2 {
  	position: absolute;
  	top: 94px;
  	left: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 30px 0px 0px;
  	gap: 8px;
}
.add-a-work {
  	position: relative;
  	font-size: 14px;
  	line-height: 18px;
  	color: #541616;
}
.icon2 {
  	position: absolute;
  	top: 16px;
  	left: calc(50% - 148px);
  	width: 32px;
  	height: 32px;
}
.global-preferences {
  	position: absolute;
  	width: calc(100% - 688px);
  	top: 344px;
  	right: 688px;
  	left: 0px;
  	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  	border-radius: 12px;
  	background: linear-gradient(180deg, rgba(136, 102, 15, 0.06), rgba(238, 179, 26, 0.25) 57.69%);
  	height: 156px;
}
.title-description3 {
  	position: absolute;
  	top: 76px;
  	left: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 38px 0px 0px;
  	gap: 8px;
}
.set-your-default {
  	width: 258px;
  	position: relative;
  	font-size: 14px;
  	line-height: 18px;
  	color: #541616;
  	display: flex;
  	align-items: center;
}
.privacy-sharing2 {
  	position: absolute;
  	width: calc(100% - 688px);
  	top: 172px;
  	right: 0px;
  	left: 688px;
  	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  	border-radius: 12px;
  	background: linear-gradient(180deg, rgba(136, 102, 15, 0.06), rgba(238, 179, 26, 0.25) 57.69%);
  	height: 156px;
}
.title-description4 {
  	position: absolute;
  	top: 76px;
  	left: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 45.3px 0px 0px;
  	gap: 8px;
}
.manage-your-personal {
  	width: 250.7px;
  	position: relative;
  	font-size: 14px;
  	line-height: 18px;
  	color: #541616;
  	display: flex;
  	align-items: center;
}
.notifications3 {
  	position: absolute;
  	width: calc(100% - 688px);
  	top: 172px;
  	right: 344px;
  	left: 344px;
  	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  	border-radius: 12px;
  	background: linear-gradient(180deg, rgba(136, 102, 15, 0.06), rgba(238, 179, 26, 0.25) 57.69%);
  	height: 156px;
}
.title-description5 {
  	position: absolute;
  	top: 76px;
  	left: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 4.3px 0px 0px;
  	gap: 8px;
}
.choose-notification-preference {
  	width: 291.7px;
  	position: relative;
  	font-size: 14px;
  	line-height: 18px;
  	color: #541616;
  	display: flex;
  	align-items: center;
}
.tablercircle-letter-i-icon3 {
  	position: absolute;
  	top: 14px;
  	left: 16px;
  	width: 35px;
  	height: 36px;
}
.taxes {
  	position: absolute;
  	width: calc(100% - 688px);
  	top: 172px;
  	right: 688px;
  	left: 0px;
  	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  	border-radius: 12px;
  	background: linear-gradient(180deg, rgba(136, 102, 15, 0.06), rgba(238, 179, 26, 0.25) 57.69%);
  	height: 156px;
}
.title-description6 {
  	position: absolute;
  	top: 76px;
  	left: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 55.7px 0px 0px;
  	gap: 8px;
}
.manage-taxpayer-information {
  	width: 240.3px;
  	position: relative;
  	font-size: 14px;
  	line-height: 18px;
  	color: #541616;
  	display: flex;
  	align-items: center;
}
.mdiquestion-mark-circle-outli-icon3 {
  	position: absolute;
  	top: 20px;
  	left: 104px;
  	width: 30px;
  	height: 30px;
}
.payments-payouts {
  	position: absolute;
  	width: calc(100% - 688px);
  	top: 0px;
  	right: 0px;
  	left: 688px;
  	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  	border-radius: 12px;
  	background: linear-gradient(180deg, rgba(136, 102, 15, 0.06), rgba(238, 179, 26, 0.25) 57.69%);
  	height: 156px;
}
.login-security {
  	position: absolute;
  	width: calc(100% - 688px);
  	top: 0px;
  	right: 344px;
  	left: 344px;
  	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  	border-radius: 12px;
  	background: linear-gradient(180deg, rgba(136, 102, 15, 0.06), rgba(238, 179, 26, 0.25) 57.69%);
  	height: 156px;
}
.personal-info2 {
  	position: absolute;
  	width: calc(100% - 688px);
  	top: 0px;
  	right: 688px;
  	left: 0px;
  	box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  	border-radius: 12px;
  	background: linear-gradient(180deg, rgba(136, 102, 15, 0.06), rgba(238, 179, 26, 0.25) 57.69%);
  	height: 156px;
}
.title-description9 {
  	position: absolute;
  	top: 76px;
  	left: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 37.1px 0px 0px;
  	gap: 8px;
}
.provide-personal-details {
  	width: 258.9px;
  	position: relative;
  	font-size: 14px;
  	line-height: 18px;
  	color: #541616;
  	display: flex;
  	align-items: center;
}
.account-information {
  	position: absolute;
  	top: 0px;
  	left: 16px;
  	width: 1016px;
  	height: 68px;
  	font-size: 96px;
  	font-family: 'Modern Antiqua';
}
.settings3 {
  	position: absolute;
  	top: -1px;
  	left: 0px;
  	line-height: 36px;
  	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-2 {
  	position: absolute;
  	width: 100%;
  	right: 0px;
  	bottom: 221px;
  	left: 0px;
  	height: 175px;
  	display: none;
  	align-items: center;
  	justify-content: space-between;
  	padding: 64px;
  	box-sizing: border-box;
  	gap: 0px;
  	flex-shrink: 0;
  	text-align: center;
  	font-size: 20px;
  	color: #000;
}
.pampanga-state-u-logo-small-1-icon2 {
  	width: 57px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
  	flex-shrink: 0;
}
.text2 {
  	width: 144px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	gap: 32px;
  	flex-shrink: 0;
}
.pampanga-state-university2 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 145%;
  	font-weight: 600;
}
.nav2 {
  	display: flex;
  	align-items: flex-start;
  	gap: 32px;
  	flex-shrink: 0;
  	text-align: left;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.55);
}
.social-links2 {
  	width: 81px;
  	display: flex;
  	align-items: center;
  	gap: 24px;
  	flex-shrink: 0;
}
.facebook {
  	position: absolute;
  	height: calc(100% + 3px);
  	width: calc(100% + 4px);
  	top: -2px;
  	right: -2px;
  	bottom: -1px;
  	left: -2px;
  	opacity: 0.52;
  	flex-shrink: 0;
}
.social-link-22 {
  	height: 33px;
  	width: 33px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.youtube {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	opacity: 0.52;
}

