body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.d-messages {
    display: flex;
    height: 100vh;
   background: linear-gradient(
    to bottom right,
    rgb(250, 204, 0),
    rgb(200, 120, 0),
    rgb(120, 40, 20),
    rgb(83, 0, 0)
);
	
	
}.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: #ffc400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box; 
    z-index: 1000;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	color: #541616;
	font-family: 'Modern Antiqua', cursive;
}
/* LEFT SIDE */
.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 0; 
}

/* RIGHT SIDE */
.nav-right {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

/* ICONS */
.icon {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

/* PROFILE */
.profile {
    width: 32px;
    height: 32px;
    background: #64727a;
    border-radius: 50%;
    flex-shrink: 0;
}

/* SIDECHAT */
.frame-container {
    width: 360px;
	height: auto;
    background: #f9eed3;
    padding: 60px 20px 20px;
    overflow-y: auto;
}

.frame-container h2 {
    margin: 0 0 20px;
    font-size: 42px;
    font-family: 'Modern Antiqua', cursive;
    color: #832c2c;
}

.chat-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.chat-item {
    display: flex;
    align-items: center;
    gap: 14px;
    background: white;
    padding: 14px;
    border-radius: 15px;
}

.chat-avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #64727a;
    flex-shrink: 0;
}

.chat-info h3 {
    margin: 0;
    font-size: 16px;
    color: #541616;
}

.chat-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.chat-info span {
    font-size: 12px;
    color: #999;
}

/* CHAT AREA */
.chat-area {
    flex: 1;
    padding: 55px 0 25px 0;
    display: flex;
    flex-direction: column;
}


/* MESSAGES */
.messages-container {
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
    padding: 0 20px; 
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message {
    max-width: 320px;
    padding: 14px 18px;
    border-radius: 15px;
    font-size: 16px;
}

.received {
    background: white;
    color: #2a2a2f;
    align-self: flex-start;
    border-top-left-radius: 0;
}

.sent {
    background: #fda829;
    color: #541616;
    align-self: flex-end;
    border-top-right-radius: 0;
}

.message-time {
    font-size: 12px;
    color: #f9eed3;
}

.sent-time {
    align-self: flex-end;
}

/* INPUT */
.message-input {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;

    margin-left: 70px;  
    margin-right: 10px;  
	margin-bottom: 0;
}




.chat-header-box {
    width: 100%;
    margin: 0;
    padding: 5px 20px;
    box-sizing: border-box;
    background: #f9eed3;
	position: relative;
	box-shadow: black 0px 1px 2px;
}

.more {
    position: absolute;
    right: 20px;
	top: 8px;
}
	

/* user section inside header */
.chat-user {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* avatar */
.chat-user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #64727a;
}

/* text */
.chat-user-info h3 {
    margin: 0;
    font-size: 16px;
    color: #541616;
}

.chat-user-info p {
    margin: 0;
    font-size: 10px;
    color: #666;
}

html, body {
    height: 100%;
    overflow: hidden;
}

/* AYUKO NAA*/

.frame-container::-webkit-scrollbar {
    width: 8px;
}
.frame-container::-webkit-scrollbar-thumb {
    background: #750000;
    border-radius: 10px;
}

.messages-container::-webkit-scrollbar {
    width: 8px;
}
.messages-container::-webkit-scrollbar-thumb {
    background: #ffe1cb;
    border-radius: 10px;
}

.send {
    position: absolute;
    right: 17px;
    top: 93%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-img
 {
    position: absolute;
    left: 32.5%;
    bottom: 4.5%;
   width: 25px;
    height: 25px;
    cursor: pointer;
}

.icon-attach {
    
	position: absolute;
    left: 30.2%;
    bottom: 4.5%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.paperclip-attach {
	position: absolute;
    left: 30.4%;
    bottom: 4.8%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
