body{
    margin: 0;
}

.main-bg{
    width: 100%;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #541616, #94372f 65.38%, #eeb31a);
    text-align: left;
    font-size: 22.94px;
    color: #fff;
    font-family: Lato;
    min-height: 100vh;
}

.logo {
  width: 40px;
  height: 35px;
  border-radius: 4px;
  margin-left: 5px;
  margin-top: 0px;
}


.navigation{
    position: sticky;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #eeb31a;
    height: 55px;
    font-size: 16px;
    color: #aaa;
}

.navigation-left{
    position: absolute;
    height: calc(100% - 16px);
    top: 8px;
    bottom: 8px;
    left: 20px;
    width: 229px;
    flex-shrink: 0;
    font-size: 36px;
    font-family: 'Modern Antiqua';
}
.icon-btn {
  border: 0;
  padding: 6px;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.web-logo{
    position: absolute;
    bottom: 12px;
    left: 51px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 35px;
    height: 35px;
}

.sikhay-wrapper{
    position: absolute;
    height: calc(100% - 6px);
    top: 6px;
    bottom: 0px;
    left: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sikhay{
  margin: 0;
  font-family: "Modern Antiqua", serif;
  font-size: clamp(32px, 5vw, 50px);
  line-height: 1;
  letter-spacing: 0.5px;
  color: #742325;
}

.first-text{
    margin-top: 25px;
    font-size: 49.85px;
    line-height: 94%;
    font-weight: 800;
    color: #f1f1f1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 818.6px;
    text-shadow: 0px 3.99px 3.99px rgba(238, 179, 26, 0.5);
}

.first-text-divider{
    margin-top: 18.15px;
    width: calc(100% - 113px);
    max-width: 1440px;
    border-top: 3px solid #fff;
}

.report-details-container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 188px);
    height: calc(100% - 50px);
    max-width: 1400px;
    min-height: 600px;
    margin-top: 18.15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: rgba(241, 241, 241, 0.2);
    padding-bottom: 40px;
}

.text2{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 48px;
}

.type-of-report{
    width: 90%;
    height: 82px;
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 15.29px;
    background-color: #f1f1f1;
    padding: 21px 0px;
    letter-spacing: 0.03em;
    line-height: 34.41px;
    font-weight: 540;
    outline: none;
    font-size: 25px;
    color: #b8bbc2;
}

.text4{
    margin-top: 10px;
    margin-left: 5%;
    font-size: 30px;
    font-weight: 500;
}

.report-description{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #ddd;
    height: 231.6px;
    font-size: 25px;
    padding: 10px 15px;
    box-sizing: border-box;
    outline: none;
}

.text5{
    margin-top: 10px;
    margin-left: 5%;
    font-size: 30px;
    font-weight: 500;
}

.upload-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 20.23px;
    background-color: #d9d9d9;
    height: 179px;
}

.submit-container{
    margin-top: 20px;
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    width: 25%;
    height: 96.2px;
    text-align: center;
    font-size: 32.54px;
    box-shadow: none;
    cursor: pointer;
    display: block;
}

.submit-btn{
    border-radius: 34.57px;
    background-color: #832c2c;
    width: 90%;
    height: 96.2px;
    cursor: pointer;
    display: block;
}

.submit{
    letter-spacing: 0.03em;
    line-height: 48.81px;
    font-weight: bolder;
    font-size: 22.94px;
    color: #fff;
    font-family: Lato;
}

 .company-parent{
    display: flex;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
    font-size: clamp(10px, 1vw, 14px);
    color: rgba(243, 233, 233, 0.712);

  width: 100%;
  font-size: clamp(10px, 1vw, 14px);
  color: rgba(243, 233, 233, 0.712);
  white-space: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
  z-index: 2;

 }
.company2 {
  display: inline;
  font-weight: 600;
}

.learn-more-group {
  display: inline;
}

.learn-more,
.support2,
.terms-and-conditions2,
.privacy-policy2,
.references2 {
  display: inline;
  margin-left: 1.5vw;
}


.social-links img {
  filter: brightness(0) invert(1);
}

.social-links{
    display: flex;
    align-items: center;
    gap: 1.2vw;
    z-index: 3;
    margin-left: auto;
    margin-top: -90px;
}


.social-link-1 {
  width: 2vw;
  height: auto;
}

.social-link-2 {
  width: 2.3vw;
  height: auto;
}

.social-link-3 {
  width: 2vw;
  height: auto;
}

footer{
    width: 100%;
    margin-top: auto;
    padding: 20px 30px 40px 30px; /* extra bottom space */
    box-sizing: border-box;
    display: flex;
     justify-content: flex-start;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
     
}