.mobile {
  	width: 100%;
  	height: 1080px;
  	position: relative;
  	background: linear-gradient(180deg, #541616, #94372f 65%, #eeb31a);
  	overflow-y: auto;
  	text-align: center;
  	font-size: 16px;
  	color: #aaa;
  	font-family: Lato;
}
.hi-how-can {
  	position: absolute;
  	top: 260px;
  	left: 255px;
  	font-size: 36px;
  	line-height: 94%;
  	font-family: 'Modern Antiqua';
  	color: #fff;
  	display: none;
  	align-items: center;
  	justify-content: center;
  	width: -84px;
  	flex-shrink: 0;
}
.navigationssearchbox {
  	position: absolute;
  	width: 139.39%;
  	top: 446px;
  	right: -273.84%;
  	left: 234.45%;
  	height: 40px;
  	display: none;
  	flex-shrink: 0;
  	text-align: left;
  	font-family: Roboto;
}
.navigationssearchboxarea {
  	position: absolute;
  	height: calc(100% - 11px);
  	width: calc(100% - 43.7px);
  	top: 5px;
  	right: 43.9px;
  	bottom: 6px;
  	left: -0.2px;
  	border-radius: 9px;
  	background-color: #fff;
}
.navigationssearchbox2 {
  	position: absolute;
  	width: calc(100% - 64px);
  	top: 0px;
  	right: 63.5px;
  	left: 0.5px;
  	border-radius: 2px 0px 0px 2px;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.border-bottom {
  	position: absolute;
  	width: 100%;
  	top: 39px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
}
.border-left {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 1px;
}
.border-top {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
}
.navigationssearchboxplacehol {
  	position: absolute;
  	height: calc(100% - 9px);
  	top: 0px;
  	bottom: 9px;
  	left: 6px;
  	width: 54px;
  	display: flex;
  	align-items: flex-start;
  	padding: 6px 2px;
  	box-sizing: border-box;
}
.search {
  	position: relative;
}
.navigationssearchbox-button {
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	border-radius: 0px 2px 2px 0px;
  	width: 64px;
  	height: 40px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 2px 7px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.navigationssearchbox-buttoni {
  	width: 50px;
  	height: 36px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.search2 {
  	position: absolute;
  	height: calc(100% - 12px);
  	width: calc(100% - 26px);
  	top: 0px;
  	right: 13px;
  	bottom: 12px;
  	left: 13px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.navigationssearchboxarea-child {
  	position: absolute;
  	height: calc(100% + 1px);
  	top: -0.5px;
  	right: 63.7px;
  	bottom: -0.5px;
  	border-right: 1px solid #000;
  	box-sizing: border-box;
  	width: 1px;
  	flex-shrink: 0;
}
.mobile-inner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 0px;
  	height: 0px;
  	flex-shrink: 0;
}
.group-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 0px;
  	height: 0px;
}
.group-child {
  	position: absolute;
  	top: 147.37px;
  	left: 15.83px;
  	width: 37.1px;
  	height: 35.3px;
  	display: none;
  	flex-shrink: 0;
}
.hi-how-can2 {
  	position: absolute;
  	width: calc(100% + 2.9px);
  	top: 127px;
  	left: -1px;
  	font-size: 23.02px;
  	line-height: 94%;
  	font-family: 'Modern Antiqua';
  	color: #f1f1f1;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 29px;
  	text-shadow: 0px 1.841269850730896px 1.84px rgba(238, 179, 26, 0.5);
  	flex-shrink: 0;
}
.navigationssearchbox3 {
  	position: absolute;
  	top: 163px;
  	right: 62.8px;
  	width: 235.2px;
  	height: 18px;
  	flex-shrink: 0;
  	text-align: left;
  	font-size: 7.2px;
}
.navigationssearchboxarea2 {
  	position: absolute;
  	height: calc(100% - 4.9px);
  	width: calc(100% - 19.6px);
  	top: 2.25px;
  	right: 19.69px;
  	bottom: 2.65px;
  	left: -0.09px;
  	border-radius: 4.05px;
  	background-color: #fff;
}
.navigationssearchbox4 {
  	position: absolute;
  	width: calc(100% - 28.8px);
  	top: 0px;
  	right: 28.57px;
  	left: 0.23px;
  	border-radius: 0.9px 0px 0px 0.9px;
  	height: 18px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.border-bottom2 {
  	position: absolute;
  	width: 100%;
  	top: 17.55px;
  	right: 0px;
  	left: 0px;
  	height: 0.4px;
}
.border-left2 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 0.4px;
}
.border-top2 {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	height: 0.4px;
}
.navigationssearchboxplacehol2 {
  	position: absolute;
  	height: calc(100% - 4px);
  	top: 0px;
  	bottom: 4px;
  	left: 2.7px;
  	width: 24.3px;
  	display: flex;
  	align-items: flex-start;
  	padding: 2.7px 0.9px;
  	box-sizing: border-box;
}
.ask-a-question {
  	position: relative;
  	flex-shrink: 0;
}
.navigationssearchbox-button2 {
  	position: absolute;
  	top: 0px;
  	right: 0.05px;
  	border-radius: 0px 0.9px 0.9px 0px;
  	width: 28.8px;
  	height: 18px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0.9px 3.2px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.navigationssearchbox-buttoni-icon {
  	width: 22.5px;
  	height: 16.2px;
  	position: relative;
}
.navigationssearchboxarea-item {
  	position: absolute;
  	height: calc(100% + 0.4px);
  	top: -0.22px;
  	right: 28.67px;
  	bottom: -0.18px;
  	border-right: 0.5px solid #000;
  	box-sizing: border-box;
  	width: 0.5px;
  	flex-shrink: 0;
}
.group-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 0px;
  	height: 0px;
  	flex-shrink: 0;
  	font-size: 20px;
  	color: #541616;
  	font-family: Righteous;
}
.group-item {
  	position: absolute;
  	top: 500px;
  	left: 712px;
  	box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.75);
  	border-radius: 10px;
  	background-color: #eeb31a;
  	width: 215px;
  	height: 148px;
  	display: none;
  	flex-shrink: 0;
}
.account {
  	position: absolute;
  	top: 681px;
  	left: 561px;
  	display: none;
  	width: 173px;
  	height: 44px;
  	flex-shrink: 0;
}
.icon {
  	position: absolute;
  	width: 41.9px;
  	height: 41.3px;
  	display: none;
  	flex-shrink: 0;
}
.group-container {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 0px;
  	height: 0px;
  	flex-shrink: 0;
  	font-size: 20px;
}
.group-inner {
  	position: absolute;
  	top: 685px;
  	left: 574px;
  	box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.75);
  	border-radius: 10px;
  	background-color: #eeb31a;
  	width: 215px;
  	height: 148px;
  	display: none;
  	flex-shrink: 0;
}
.features {
  	position: absolute;
  	top: 725px;
  	left: 119px;
  	font-weight: 800;
  	background: linear-gradient(180deg, #541616, #94372f 65%, #eeb31a);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	display: none;
  	width: 173px;
  	height: 44px;
  	flex-shrink: 0;
}
.comercialbox-fav-icon {
  	position: absolute;
  	top: 689px;
  	left: 493px;
  	width: 46px;
  	height: 46px;
  	display: none;
  	flex-shrink: 0;
}
.group-div {
  	position: absolute;
  	top: 0px;
  	left: 480px;
  	width: 0px;
  	height: 0px;
  	flex-shrink: 0;
  	text-align: left;
  	color: #000;
  	font-family: Roboto;
}
.rectangle-div {
  	position: absolute;
  	top: 628px;
  	left: 39px;
  	box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.75);
  	border-radius: 10px;
  	background-color: #eeb31a;
  	width: 193px;
  	height: 75px;
  	display: none;
  	flex-shrink: 0;
}
.account2 {
  	position: absolute;
  	top: 468px;
  	left: 97px;
  	display: none;
  	width: 173px;
  	height: 44px;
  	flex-shrink: 0;
}
.icon2 {
  	position: absolute;
  	width: 30.3px;
  	height: 38.3px;
  	display: none;
  	flex-shrink: 0;
}
.group-parent2 {
  	position: absolute;
  	top: 208px;
  	left: 67px;
  	width: 242px;
  	height: 179.3px;
  	flex-shrink: 0;
  	font-size: 10.79px;
}
.group-parent3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 116px;
  	height: 88.5px;
}
.group-child2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 2.69767427444458px 5.39534854888916px 13.49px rgba(0, 0, 0, 0.75);
  	border-radius: 5.4px;
  	background-color: #eeb31a;
  	width: 116px;
  	height: 79.9px;
}
.account3 {
  	position: absolute;
  	top: 64.74px;
  	left: 9.17px;
  	font-weight: 800;
  	background: linear-gradient(180deg, #541616, #94372f 65%, #eeb31a);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	display: inline-block;
  	width: 93.3px;
  	height: 23.7px;
}
.icon3 {
  	position: absolute;
  	height: 51.19%;
  	width: 33.02%;
  	top: 12.19%;
  	right: 35.35%;
  	bottom: 36.62%;
  	left: 31.63%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-frame {
  	position: absolute;
  	top: 0px;
  	left: 126px;
  	width: 116px;
  	height: 87.4px;
}
.vector-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 116px;
  	height: 87.4px;
}
.rectangle-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 2.69767427444458px 5.39534854888916px 13.49px rgba(0, 0, 0, 0.75);
  	border-radius: 5.4px;
  	width: 116px;
  	height: 79.9px;
}
.reports {
  	position: absolute;
  	top: 63.67px;
  	left: 11.33px;
  	font-weight: 800;
  	background: linear-gradient(180deg, #541616, #94372f 65%, #eeb31a);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	display: inline-block;
  	width: 93.3px;
  	height: 23.7px;
}
.icon4 {
  	position: absolute;
  	height: 43.82%;
  	width: 38.1%;
  	top: 14.2%;
  	right: 30.73%;
  	bottom: 41.98%;
  	left: 31.16%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-parent4 {
  	position: absolute;
  	top: 93px;
  	right: 0px;
  	width: 116px;
  	height: 85.2px;
}
.rectangle-parent3 {
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	width: 116px;
  	height: 85.2px;
}
.group-child3 {
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	box-shadow: 2.69767427444458px 5.39534854888916px 13.49px rgba(0, 0, 0, 0.75);
  	border-radius: 5.4px;
  	background-color: #eeb31a;
  	width: 116px;
  	height: 79.9px;
}
.features2 {
  	position: absolute;
  	top: 61.51px;
  	left: 13.49px;
  	font-weight: 800;
  	background: linear-gradient(180deg, #541616, #94372f 65%, #eeb31a);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	display: inline-block;
  	width: 93.3px;
  	height: 23.7px;
}
.comercialbox-fav-icon2 {
  	position: absolute;
  	top: 6.47px;
  	left: 35.61px;
  	width: 54px;
  	height: 53.4px;
}
.group-parent5 {
  	position: absolute;
  	top: 93px;
  	left: 0px;
  	width: 116px;
  	height: 86.3px;
}
.vector-group {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 116px;
  	height: 86.3px;
}
.group-child4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 2.697674512863159px 5.395349025726318px 13.49px rgba(0, 0, 0, 0.75);
  	border-radius: 5.4px;
  	width: 116px;
  	height: 79.9px;
}
.shared-resources {
  	position: absolute;
  	top: 62.59px;
  	left: 11.33px;
  	font-weight: 800;
  	background: linear-gradient(180deg, #541616, #94372f 65%, #eeb31a);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	display: inline-block;
  	width: 93.3px;
  	height: 23.7px;
}
.icon5 {
  	position: absolute;
  	height: 46.93%;
  	width: 39.05%;
  	top: 14.38%;
  	right: 30.25%;
  	bottom: 38.69%;
  	left: 30.7%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.faq {
  	position: absolute;
  	top: 679px;
  	left: 33px;
  	font-size: 30px;
  	font-family: 'Modern Antiqua';
  	color: #bcbec0;
  	text-align: left;
  	display: none;
  	flex-shrink: 0;
}
.faq2 {
  	position: absolute;
  	top: 60px;
  	right: 4px;
  	font-size: 15px;
  	font-family: 'Modern Antiqua';
  	color: #bcbec0;
  	text-align: left;
  	flex-shrink: 0;
}
.mobile-child {
  	position: absolute;
  	top: 425px;
  	left: 82px;
  	width: 34px;
  	height: 254px;
  	object-fit: contain;
  	display: none;
  	flex-shrink: 0;
}
.mobile-item {
  	position: absolute;
  	top: 76.5px;
  	right: 4.5px;
  	border-top: 1px solid #bcbec0;
  	box-sizing: border-box;
  	width: 30px;
  	height: 1px;
  	flex-shrink: 0;
}
.company-parent {
  	position: absolute;
  	bottom: 14px;
  	left: 36px;
  	width: 1262px;
  	height: 29px;
  	display: none;
  	flex-shrink: 0;
  	font-size: 20px;
  	color: #000;
}
.company {
  	position: absolute;
  	bottom: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
}
.pampanga-state-university {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 145%;
  	font-weight: 600;
}
.learn-more-parent {
  	position: absolute;
  	top: 3px;
  	left: 782px;
  	width: 480px;
  	height: 24px;
  	text-align: left;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.75);
}
.learn-more {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 145%;
  	font-weight: 500;
}
.support {
  	position: absolute;
  	top: 0px;
  	left: 111px;
  	line-height: 145%;
  	font-weight: 500;
}
.terms-and-conditions {
  	position: absolute;
  	bottom: 0px;
  	left: 199px;
  	line-height: 145%;
  	font-weight: 500;
}
.privacy-policy {
  	position: absolute;
  	bottom: 1px;
  	left: 383px;
  	line-height: 145%;
  	font-weight: 500;
}
.group-parent6 {
  	position: absolute;
  	width: calc(100% - 56px);
  	right: 28px;
  	bottom: 14px;
  	left: 28px;
  	height: 35px;
  	flex-shrink: 0;
  	font-size: 13.52px;
  	color: #000;
}
.company-wrapper {
  	position: absolute;
  	width: 100%;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	height: 20px;
}
.company2 {
  	position: absolute;
  	width: 100%;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
}
.group-wrapper3 {
  	position: absolute;
  	top: 0px;
  	left: 13px;
  	width: 293.6px;
  	height: 14.6px;
  	text-align: left;
  	font-size: 9.8px;
  	color: rgba(0, 0, 0, 0.75);
}
.learn-more-group {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 293.6px;
  	height: 14.6px;
}
.support2 {
  	position: absolute;
  	top: 0px;
  	left: 67.99px;
  	line-height: 145%;
  	font-weight: 500;
}
.terms-and-conditions2 {
  	position: absolute;
  	bottom: -0.01px;
  	left: 121.89px;
  	line-height: 145%;
  	font-weight: 500;
}
.privacy-policy2 {
  	position: absolute;
  	bottom: 0.6px;
  	left: 234.59px;
  	line-height: 145%;
  	font-weight: 500;
}
.navigations {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	background-color: #eeb31a;
  	height: 56px;
  	flex-shrink: 0;
  	text-align: left;
  	font-family: Roboto;
}
.navigationsyt-button {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 169px;
  	flex-shrink: 0;
}
.navigationssearchbox5 {
  	position: absolute;
  	width: 40.83%;
  	top: 8px;
  	right: 31.11%;
  	left: 28.06%;
  	height: 40px;
  	flex-shrink: 0;
}
.navigationssearchboxarea3 {
  	position: absolute;
  	height: calc(100% - 11px);
  	width: calc(100% - 44.1px);
  	top: 9px;
  	right: 44.3px;
  	bottom: 2px;
  	left: -0.2px;
  	border-radius: 9px;
  	background-color: #fff;
  	display: none;
}
.border-bottom3 {
  	position: absolute;
  	width: 100%;
  	top: 39px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
  	flex-shrink: 0;
}
.border-left3 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 1px;
  	flex-shrink: 0;
}
.border-top3 {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
  	flex-shrink: 0;
}
.navigationssearchboxplacehol3 {
  	position: absolute;
  	height: calc(100% - 9px);
  	top: 0px;
  	bottom: 9px;
  	left: 6px;
  	width: 54px;
  	display: flex;
  	align-items: flex-start;
  	padding: 6px 2px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.navigationsprofile {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 10px;
  	right: 0px;
  	bottom: 6px;
  	width: 204px;
  	flex-shrink: 0;
  	font-size: 24px;
  	color: #541616;
  	font-family: Lato;
}
.navigationsprofile2 {
  	position: absolute;
  	top: -1px;
  	right: 17px;
  	height: 40px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 4px 14px;
  	box-sizing: border-box;
}
.profile-pic {
  	height: 32px;
  	width: 32px;
  	position: relative;
  	border-radius: 32px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.user-avatar {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: calc(50% - 16px);
  	background-color: #c4c4c4;
  	width: 32px;
  	height: 32px;
  	flex-shrink: 0;
}
.rectangle-parent4 {
  	position: absolute;
  	height: calc(100% - 15px);
  	top: 7px;
  	bottom: 8px;
  	left: 68px;
  	width: 30px;
}
.group-child5 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 6px;
  	background-color: #fff;
  	width: 30px;
}
.div {
  	position: absolute;
  	height: calc(100% - 5.8px);
  	top: 2px;
  	left: 8px;
  	line-height: 94%;
  	display: flex;
  	align-items: center;
  	width: 13.1px;
}
.communication-bell {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 7px;
  	right: 72px;
  	bottom: 9px;
  	max-height: 100%;
  	width: 24px;
}
.navigationsyt-buttonicon-parent {
  	position: absolute;
  	height: calc(100% - 15px);
  	top: 8px;
  	bottom: 7px;
  	left: 11px;
  	width: 217px;
  	flex-shrink: 0;
  	font-size: 36px;
  	font-family: 'Modern Antiqua';
}
.navigationsyt-buttonicon {
  	position: absolute;
  	height: calc(100% - 1px);
  	top: 0px;
  	bottom: 1px;
  	left: 0px;
  	width: 35px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px;
  	box-sizing: border-box;
  	isolation: isolate;
}
.hamburger-icon {
  	height: 24px;
  	width: 24px;
  	position: absolute;
  	margin: 0 !important;
  	top: calc(50% - 12px);
  	left: calc(50% - 12.5px);
  	z-index: 0;
  	flex-shrink: 0;
}
.ellipse-div {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 8px;
  	bottom: 8px;
  	left: calc(50% - 65.5px);
  	border-radius: 50%;
  	background-color: #d9d9d9;
  	width: 25px;
}
.sikhay-wrapper {
  	position: absolute;
  	height: calc(100% - 5px);
  	top: 5px;
  	bottom: 0px;
  	left: 67px;
  	width: 150px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.sikhay {
  	position: relative;
  	line-height: 94%;
  	background: linear-gradient(180deg, #541616, #94372f 65%, #eeb31a);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	text-shadow: 12px 4px 12.3px rgba(0, 0, 0, 0.25);
}
.navigations2 {
  	position: absolute;
  	width: calc(100% + 905px);
  	top: 39px;
  	right: -1356px;
  	left: 451px;
  	background-color: #eeb31a;
  	height: 56px;
  	flex-shrink: 0;
  	text-align: left;
  	font-family: Roboto;
}
.navigationssearchbox7 {
  	position: absolute;
  	width: 40.84%;
  	top: 8px;
  	right: 31.1%;
  	left: 28.06%;
  	height: 40px;
  	flex-shrink: 0;
}
.navigationssearchbox-buttoni-icon2 {
  	width: 50px;
  	height: 36px;
  	position: relative;
}
.navigationsprofile3 {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 8px;
  	right: 20px;
  	bottom: 8px;
  	width: 245px;
  	flex-shrink: 0;
  	color: #541616;
  	font-family: 'Fira Sans';
}
.navigationsprofile4 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 4px 14px;
  	box-sizing: border-box;
}
.dropdown {
  	position: absolute;
  	height: calc(100% - 4px);
  	top: 2px;
  	bottom: 2px;
  	left: 0px;
  	border-radius: 8px;
  	width: 92px;
}
.button {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.1);
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 16px;
  	gap: 8px;
  	flex-shrink: 0;
}
.label {
  	position: relative;
  	line-height: 20px;
  	font-weight: 500;
  	flex-shrink: 0;
}
.icon6 {
  	height: 18px;
  	width: 18px;
  	position: relative;
  	display: none;
  	opacity: 0.5;
  	flex-shrink: 0;
}
.communication-chat-circle {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 9px;
  	bottom: 7px;
  	left: 118px;
  	max-height: 100%;
  	width: 24px;
}
.communication-bell2 {
  	position: absolute;
  	top: calc(50% - 11px);
  	right: 64px;
  	width: 24px;
  	height: 24px;
}
.navigationsyt-buttonicon-group {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 8px;
  	bottom: 8px;
  	left: 20px;
  	width: 229px;
  	flex-shrink: 0;
  	font-size: 36px;
  	font-family: 'Modern Antiqua';
}
.navigationsyt-buttonicon2 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px;
  	box-sizing: border-box;
}
.hamburger-icon2 {
  	height: 24px;
  	width: 24px;
  	position: relative;
}
.group-child6 {
  	position: absolute;
  	bottom: 2px;
  	left: 51px;
  	border-radius: 50%;
  	background-color: #d9d9d9;
  	width: 35px;
  	height: 35px;
}
.sikhay-container {
  	position: absolute;
  	height: calc(100% - 6px);
  	top: 6px;
  	bottom: 0px;
  	left: 93px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

