
body{
	margin: 0;
	line-height: normal;

}
.desktop {
  	width: 100%;
  	height: 100vh;
  	position: relative;
  	background: linear-gradient(180deg, #541616, #94372f 65.38%, #eeb31a);
  	overflow-y: auto;
  	text-align: left;
  	font-size: 22.94px;
  	color: #fff;
  	font-family: Lato;
}
.hi-how-can {
  	position: absolute;
  	top: 374px;
  	left: calc(50% - 511px);
  	font-size: 50px;
  	line-height: 94%;
  	display: none;
  	font-family: 'Modern Antiqua';
  	color: #f1f1f1;
  	text-align: center;
  	align-items: center;
  	justify-content: center;
  	width: 821px;
  	text-shadow: 0px 4px 4px rgba(238, 179, 26, 0.5);
}
.desktop-inner {
  	position: absolute;
  	top: 320px;
  	left: 77px;
  	width: 250px;
  	height: 0px;
}
.frame-child {
  	position: absolute;
  	top: -0.5px;
  	left: -0.5px;
  	border-top: 1px solid #fff;
  	box-sizing: border-box;
  	width: 251px;
  	height: 1px;
  	display: none;
}
.report-a-problem {
  	position: absolute;
  	top: 87px;
  	left: calc(50% - 409px);
  	font-size: 49.85px;
  	line-height: 94%;
  	font-weight: 800;
  	color: #f1f1f1;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 818.6px;
  	text-shadow: 0px 3.9882259368896484px 3.99px rgba(238, 179, 26, 0.5);
}
.desktop-child {
  	position: absolute;
  	width: calc(100% - 113px);
  	top: 155.5px;
  	right: 56.5px;
  	left: 56.5px;
  	border-top: 3px solid #fff;
  	box-sizing: border-box;
  	height: 3px;
}
.desktop-item {
  	position: absolute;
  	width: calc(100% - 188px);
  	right: 94px;
  	bottom: 58px;
  	left: 94px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 10px;
  	background-color: rgba(241, 241, 241, 0.2);
  	height: 849px;
}
.report-details {
  	position: absolute;
  	top: 178px;
  	left: 111px;
  	font-size: 48px;
}
.dropdown-box {
  	position: absolute;
  	width: calc(100% - 280px);
  	top: 249px;
  	right: 141px;
  	left: 139px;
  	height: 82.2px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	isolation: isolate;
  	color: #aaa;
  	font-family: Poppins;
	background-color: yellow;
}
.header {
  	align-self: stretch;
  	border-radius: 15.29px;
  	background-color: red;
  	border: 2.5px solid #b8bbc2;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 21px 34.4px;
  	gap: 20px;
  	z-index: 1;
}
.menu-label {
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.menu-label2 {
  	position: relative;
  	letter-spacing: 0.03em;
  	line-height: 34.41px;
  	font-weight: 500;
}
.iconsregularchevron-down-s {
	border: 7px blue;
  	height: 38.2px;
  	width: 38.2px;
  	position: relative;
}
.items-frame {
  	align-self: stretch;
  	height: 1.9px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
  	z-index: 0;
}
.items-list {
  	position: absolute;
  	width: 100%;
  	right: 0%;
  	bottom: -416.8px;
  	left: 0%;
  	border-radius: 0px 0px 15.29px 15.29px;
  	background-color: #f1f1f1;
  	height: 416.7px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-end;
  	isolation: isolate;
  	flex-shrink: 0;
}
.item-hover {
  	align-self: stretch;
  	background-color: #f1f1f1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 21px 45.9px;
  	gap: 20px;
  	z-index: 4;
}
.label1 {
  	height: 34.4px;
  	width: 86px;
  	position: relative;
}
.label12 {
  	position: absolute;
  	top: 0%;
  	left: 0%;
  	letter-spacing: 0.03em;
  	line-height: 34.41px;
  	font-weight: 500;
}
.iconsregularchevron-down-s2 {
  	height: 38.2px;
  	width: 38.2px;
  	position: relative;
  	opacity: 0;
}
.item-hover2 {
  	align-self: stretch;
  	background-color: #f1f1f1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 21px 45.9px;
  	gap: 20px;
  	z-index: 3;
}
.label2 {
  	height: 34.4px;
  	width: 93.7px;
  	position: relative;
}
.label22 {
  	position: absolute;
  	top: 0%;
  	left: 0%;
  	letter-spacing: 0.03em;
  	line-height: 34.41px;
  	font-weight: 500;
  	flex-shrink: 0;
}
.item-hover3 {
  	align-self: stretch;
  	background-color: #f1f1f1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 21px 45.9px;
  	gap: 20px;
  	z-index: 2;
}
.item-hover4 {
  	align-self: stretch;
  	background-color: #f1f1f1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 21px 45.9px;
  	gap: 20px;
  	z-index: 1;
}
.label4 {
  	height: 34.4px;
  	width: 95.6px;
  	position: relative;
}
.item-hover5 {
  	align-self: stretch;
  	background-color: #f1f1f1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 21px 45.9px;
  	gap: 20px;
  	z-index: 0;
}
.describe-the-issue {
  	position: absolute;
  	top: 344px;
  	left: 139px;
  	font-size: 30px;
  	font-weight: 500;
}
.rectangle-div {
  	position: absolute;
  	width: calc(100% - 280px);
  	top: 394px;
  	right: 141px;
  	left: 139px;
  	border-radius: 20px;
  	background-color: #ddd;
  	height: 231.6px;
}
.please-describe-the {
  	position: absolute;
  	width: calc(100% - 331px);
  	top: 414px;
  	left: 166px;
  	letter-spacing: 0.03em;
  	line-height: 34.41px;
  	font-weight: 500;
  	color: #7d7d7d;
  	display: inline-block;
  	height: 195px;
}
.photo-evidence {
  	position: absolute;
  	top: 636px;
  	left: 152px;
  	font-size: 30px;
  	font-weight: 500;
}
.desktop-child2 {
  	position: absolute;
  	width: calc(100% - 278.8px);
  	top: 682px;
  	right: 140.8px;
  	left: 138px;
  	border-radius: 20.23px;
  	background-color: #d9d9d9;
  	height: 179px;
}
.img-box-duotone-line-icon {
  	position: absolute;
  	top: 715px;
  	left: 584px;
  	width: 114px;
  	height: 114px;
  	object-fit: cover;
}
.dropdown-box2 {
  	position: absolute;
  	width: calc(100% - 280px);
  	top: 297px;
  	right: 268px;
  	left: 12px;
  	height: 82.2px;
  	display: none;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	isolation: isolate;
}
.photo-evidence2 {
  	position: absolute;
  	top: 592px;
  	left: 13px;
  	font-size: 30px;
  	font-family: Lalezar;
  	display: none;
}
.desktop-child3 {
  	position: absolute;
  	width: calc(100% - 1005px);
  	top: 632px;
  	right: 907px;
  	left: 98px;
  	border-radius: 18.41px;
  	background-color: #d9d9d9;
  	height: 250px;
  	display: none;
}
.please-describe-the2 {
  	position: absolute;
  	top: 374px;
  	left: 151px;
  	letter-spacing: 0.03em;
  	line-height: 34.41px;
  	font-weight: 500;
  	font-family: Poppins;
  	color: #7d7d7d;
  	display: none;
  	width: 949px;
  	height: 195px;
}
.rectangle-parent {

  	position: absolute;
  	top: 892px;
  	left: 425px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
  	width: 427.2px;
  	height: 96.2px;
  	text-align: center;
  	font-size: 32.54px;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 34.57px;
  	background-color: red;
  	width: 427.2px;
  	height: 96.2px;
}
.submit-report {
  	position: absolute;
  	top: 23.06px;
  	left: calc(50% - 153.6px);
  	letter-spacing: 0.03em;
  	line-height: 48.81px;
  	font-weight: 900;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 306.3px;
}
.text {
  	position: absolute;
  	right: 956px;
  	bottom: 99px;
  	display: none;
  	align-items: center;
  	justify-content: center;
  	text-align: center;
  	font-size: 20px;
  	color: #000;
}
.company {
  	display: flex;
  	align-items: center;
}
.terms-conditions {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 145%;
  	font-weight: 600;
}
.rectangle-group {
  	position: absolute;
  	top: 862px;
  	left: 147px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
  	width: 427.2px;
  	height: 96.2px;
  	display: none;
  	text-align: center;
  	font-size: 20px;
}
.add-round-duotone-icon {
  	position: absolute;
  	top: 778px;
  	left: 641px;
  	width: 70px;
  	height: 64px;
}
.add-round-duotone {
  	position: absolute;
  	top: 770px;
  	left: 14px;
  	width: 70px;
  	height: 64px;
  	display: none;
}
.company-parent {
  	position: absolute;
  	bottom: 4px;
  	left: 9px;
  	width: 1262px;
  	height: 29px;
  	text-align: center;
  	font-size: 20px;
  	color: #000;
}
.company2 {
  	position: absolute;
  	bottom: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
}
.learn-more-parent {
  	position: absolute;
  	top: 3px;
  	left: 782px;
  	width: 480px;
  	height: 24px;
  	text-align: left;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.75);
}
.learn-more {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 145%;
  	font-weight: 500;
}
.support {
  	position: absolute;
  	top: 0px;
  	left: 111px;
  	line-height: 145%;
  	font-weight: 500;
}
.terms-and-conditions {
  	position: absolute;
  	bottom: 0px;
  	left: 199px;
  	line-height: 145%;
  	font-weight: 500;
}
.privacy-policy {
  	position: absolute;
  	bottom: 1px;
  	left: 383px;
  	line-height: 145%;
  	font-weight: 500;
}
.group-div {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 0px;
  	height: 0px;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.75);
}
.learn-more-group {
  	position: absolute;
  	top: 1032px;
  	left: 52px;
  	width: 480px;
  	height: 24px;
  	display: none;
  	flex-shrink: 0;
}
.navigations {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	background-color: #eeb31a;
  	height: 56px;
  	font-size: 16px;
  	color: #aaa;
}
.navigationsyt-button {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 169px;
  	flex-shrink: 0;
}
.navigationssearchbox {
  	position: absolute;
  	width: 40.84%;
  	top: 8px;
  	right: 31.1%;
  	left: 28.06%;
  	height: 40px;
  	flex-shrink: 0;
}
.navigationssearchboxarea {
  	position: absolute;
  	height: calc(100% - 11px);
  	width: calc(100% - 43.7px);
  	top: 5px;
  	right: 43.9px;
  	bottom: 6px;
  	left: -0.2px;
  	border-radius: 9px;
  	background-color: white;
}
.navigationssearchbox2 {
  	position: absolute;
  	width: calc(100% - 64px);
  	top: 0px;
  	right: 63.5px;
  	border-radius: 9px 0px 0px 9px;
  	height: 100%;
  	overflow: hidden;
  	flex-shrink: 0;
}
.border-bottom {
  	position: absolute;
  	width: 100%;
  	top: 39px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
}
.border-left {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 1px;
}
.border-top {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
}
.navigationssearchboxplacehol {
  	position: absolute;
  	height: calc(100% - 9px);
  	top: 0px;
  	bottom: 9px;
  	left: 6px;
  	width: 54px;
  	display: flex;
  	align-items: flex-start;
  	padding: 6px 2px;
  	box-sizing: border-box;
}
.search {
  	position: relative;
}
.navigationssearchbox-button {
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	border-radius: 0px 2px 2px 0px;
  	width: 64px;
  	height: 40px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 2px 7px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.navigationssearchbox-buttoni-icon {
  	width: 50px;
  	height: 36px;
  	position: relative;
}
.navigationssearchboxarea-child {
  	position: absolute;
  	height: calc(100% + 1px);
  	top: -0.5px;
  	right: 63.7px;
  	bottom: -0.5px;
  	border-right: 1px solid #000;
  	box-sizing: border-box;
  	width: 1px;
  	flex-shrink: 0;
}
.navigationsprofile {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 8px;
  	right: 20px;
  	bottom: 8px;
  	width: 245px;
  	flex-shrink: 0;
  	color: #541616;
}
.navigationsprofile2 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 4px 14px;
  	box-sizing: border-box;
}
.profile-pic {
  	height: 32px;
  	width: 32px;
  	position: relative;
  	border-radius: 32px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.user-avatar {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: calc(50% - 16px);
  	background-color: #c4c4c4;
  	width: 32px;
  	height: 32px;
  	flex-shrink: 0;
}
.dropdown {
  	position: absolute;
  	height: calc(100% - 4px);
  	top: 2px;
  	bottom: 2px;
  	left: 0px;
  	border-radius: 8px;
  	width: 92px;
}
.button {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.1);
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 16px;
  	gap: 8px;
  	flex-shrink: 0;
}
.label {
  	position: relative;
  	line-height: 20px;
  	font-weight: 500;
  	flex-shrink: 0;
}
.icon {
  	height: 18px;
  	width: 18px;
  	position: relative;
  	display: none;
  	opacity: 0.5;
  	flex-shrink: 0;
}
.communication-chat-circle {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 9px;
  	bottom: 7px;
  	left: 118px;
  	max-height: 100%;
  	width: 24px;
}
.communication-bell {
  	position: absolute;
  	top: calc(50% - 11px);
  	right: 64px;
  	width: 24px;
  	height: 24px;
}
.navigationsyt-buttonicon-parent {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 8px;
  	bottom: 8px;
  	left: 20px;
  	width: 229px;
  	flex-shrink: 0;
  	font-size: 36px;
  	font-family: 'Modern Antiqua';
}
.navigationsyt-buttonicon {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px;
  	box-sizing: border-box;
}
.hamburger-icon {
  	height: 24px;
  	width: 24px;
  	position: relative;
}
.group-inner {
  	position: absolute;
  	bottom: 2px;
  	left: 51px;
  	border-radius: 50%;
  	background-color: #d9d9d9;
  	width: 35px;
  	height: 35px;
}
.sikhay-wrapper {
  	position: absolute;
  	height: calc(100% - 6px);
  	top: 6px;
  	bottom: 0px;
  	left: 93px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.sikhay {
  	position: relative;
  	line-height: 94%;
  	background: linear-gradient(180deg, #541616, #94372f 65%, #eeb31a);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	text-shadow: 12px 4px 12.3px rgba(0, 0, 0, 0.25);
}
.navigations2 {
  	position: absolute;
  	width: calc(100% - 905px);
  	top: 23px;
  	right: 843px;
  	left: 62px;
  	background-color: #eeb31a;
  	height: 56px;
  	display: none;
  	font-size: 16px;
  	color: #aaa;
  	font-family: Roboto;
}
.navigationssearchbox3 {
  	position: absolute;
  	width: 40.83%;
  	top: 8px;
  	right: 31.11%;
  	left: 28.06%;
  	height: 40px;
  	flex-shrink: 0;
}
.navigationssearchboxarea2 {
  	position: absolute;
  	height: calc(100% - 11px);
  	width: calc(100% - 44.1px);
  	top: 9px;
  	right: 44.3px;
  	bottom: 2px;
  	left: -0.2px;
  	border-radius: 9px;
  	background-color: #fff;
  	display: none;
}
.border-bottom2 {
  	position: absolute;
  	width: 100%;
  	top: 39px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
  	flex-shrink: 0;
}
.border-left2 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 1px;
  	flex-shrink: 0;
}
.border-top2 {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	height: 1px;
  	flex-shrink: 0;
}
.navigationssearchboxplacehol2 {
  	position: absolute;
  	height: calc(100% - 9px);
  	top: 0px;
  	bottom: 9px;
  	left: 6px;
  	width: 54px;
  	display: flex;
  	align-items: flex-start;
  	padding: 6px 2px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.navigationssearchbox-buttoni {
  	width: 50px;
  	height: 36px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.search3 {
  	position: absolute;
  	height: calc(100% - 12px);
  	width: calc(100% - 26px);
  	top: 0px;
  	right: 13px;
  	bottom: 12px;
  	left: 13px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.navigationsprofile3 {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 10px;
  	right: 0px;
  	bottom: 6px;
  	width: 204px;
  	flex-shrink: 0;
  	font-size: 24px;
  	color: #541616;
  	font-family: Lato;
}
.navigationsprofile4 {
  	position: absolute;
  	top: -1px;
  	right: 17px;
  	height: 40px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 4px 14px;
  	box-sizing: border-box;
}
.rectangle-container {
  	position: absolute;
  	height: calc(100% - 15px);
  	top: 7px;
  	bottom: 8px;
  	left: 68px;
  	width: 30px;
}
.group-child2 {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 6px;
  	background-color: #fff;
  	width: 30px;
}
.div {
  	position: absolute;
  	height: calc(100% - 5.8px);
  	top: 2px;
  	left: 8px;
  	line-height: 94%;
  	display: flex;
  	align-items: center;
  	width: 13.1px;
}
.communication-bell2 {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 7px;
  	right: 72px;
  	bottom: 9px;
  	width: 24px;
  	overflow: hidden;
  	display: grid;
  	grid-template-columns: repeat(1, 2px);
  	justify-content: start;
  	grid-template-rows: repeat(1, 2px);
  	align-content: start;
  	gap: 8px;
}
.navigationsyt-buttonicon-group {
  	position: absolute;
  	height: calc(100% - 15px);
  	top: 8px;
  	bottom: 7px;
  	left: 11px;
  	width: 217px;
  	flex-shrink: 0;
  	font-size: 36px;
  	font-family: 'Modern Antiqua';
}
.navigationsyt-buttonicon2 {
  	position: absolute;
  	height: calc(100% - 1px);
  	top: 0px;
  	bottom: 1px;
  	left: 0px;
  	width: 35px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px;
  	box-sizing: border-box;
  	isolation: isolate;
}
.hamburger {
  	height: 24px;
  	width: 24px;
  	position: absolute;
  	top: calc(50% - 12px);
  	left: calc(50% - 12.5px);
  	overflow: hidden;
  	flex-shrink: 0;
  	z-index: 0;
}
.ellipse-div {
  	position: absolute;
  	height: calc(100% - 16px);
  	top: 8px;
  	bottom: 8px;
  	left: calc(50% - 65.5px);
  	border-radius: 50%;
  	background-color: #d9d9d9;
  	width: 25px;
}
.sikhay-container {
  	position: absolute;
  	height: calc(100% - 5px);
  	top: 5px;
  	bottom: 0px;
  	left: 67px;
  	width: 150px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

