.convo-popup {
  	width: 100%;
  	height: 398.6px;
  	position: relative;
  	text-align: left;
  	font-size: 8.17px;
  	color: #000;
  	font-family: Lato;
}
.convo-popup-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 0px 0px 8.71px 8.71px;
  	background-color: #f9eed3;
  	border: 1.6px solid #541616;
  	box-sizing: border-box;
  	width: 253.2px;
  	height: 398.6px;
}
.rectangle-parent {
  	position: absolute;
  	top: 73.51px;
  	left: 2.72px;
  	width: 247.8px;
  	height: 295.1px;
}
.frame-child {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	background-color: #f9eed3;
}
.you-okay-parent {
  	position: absolute;
  	top: 54.45px;
  	left: 9.26px;
  	width: 124.7px;
  	height: 40.8px;
}
.you-okay {
  	position: absolute;
  	top: 22.87px;
  	left: 52.82px;
  	font-weight: 500;
}
.m {
  	position: absolute;
  	top: 22.87px;
  	left: 95.84px;
  	font-weight: 500;
  	color: rgba(0, 0, 0, 0.38);
}
.frame-item {
  	position: absolute;
  	top: 27.23px;
  	left: 91.48px;
  	border-radius: 50%;
  	background-color: rgba(0, 0, 0, 0.38);
  	width: 1.6px;
  	height: 1.6px;
}
.frame-inner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50%;
  	width: 40.8px;
  	height: 40.8px;
  	object-fit: cover;
}
.juan-dela-cruz {
  	position: absolute;
  	top: 7.08px;
  	left: 51.73px;
  	font-size: 10.89px;
  	font-weight: 900;
}
.you-okay-group {
  	position: absolute;
  	top: 250.49px;
  	left: 9.26px;
  	width: 124.7px;
  	height: 40.8px;
}
.you-okay2 {
  	position: absolute;
  	top: 22.87px;
  	left: 52.82px;
  	font-weight: 900;
}
.you-okay-container {
  	position: absolute;
  	top: 152.47px;
  	left: 9.26px;
  	width: 124.7px;
  	height: 40.8px;
}
.frame-div {
  	position: absolute;
  	top: 201.48px;
  	left: 9.26px;
  	width: 124.7px;
  	height: 40.8px;
}
.you-okay-parent2 {
  	position: absolute;
  	top: 103.46px;
  	left: 9.26px;
  	width: 124.7px;
  	height: 40.8px;
}
.you-okay-parent3 {
  	position: absolute;
  	top: 5.45px;
  	left: 9.26px;
  	width: 124.7px;
  	height: 40.8px;
}
.scrollbar-custom {
  	position: absolute;
  	height: calc(100% - 1px);
  	top: 0.54px;
  	right: 1.62px;
  	bottom: 0.46px;
  	border-radius: 54.46px;
  	background-color: #e8e8e8;
  	width: 4.4px;
}
.bar {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 2.38px);
  	border-radius: 54.46px;
  	background-color: #541616;
  	width: 4.4px;
  	height: 18px;
}
.conversations {
  	position: absolute;
  	top: 10.35px;
  	left: 11.98px;
  	font-size: 19.6px;
  	line-height: 94%;
  	font-family: 'Modern Antiqua';
}
.navigationssearchbox {
  	position: absolute;
  	width: 89.26%;
  	top: 39.75px;
  	right: 6.01%;
  	left: 4.73%;
  	height: 22.3px;
  	font-size: 8.71px;
  	color: #aaa;
  	font-family: Lato;
}
.navigationssearchboxarea {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	border-radius: 17.97px;
  	background-color: #fff;
  	width: 226px;
}
.navigationssearchbox2 {
  	position: absolute;
  	width: calc(100% - 34.9px);
  	top: 0px;
  	right: 34.63px;
  	left: 0.27px;
  	border-radius: 1.09px 0px 0px 1.09px;
  	height: 21.8px;
  	overflow: hidden;
}
.border-bottom {
  	position: absolute;
  	width: 100%;
  	top: 21.24px;
  	right: 0px;
  	left: 0px;
  	height: 0.5px;
}
.border-left {
  	position: absolute;
  	height: 100%;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	width: 0.5px;
}
.border-top {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	height: 0.5px;
}
.navigationssearchboxplacehol {
  	position: absolute;
  	height: calc(100% - 4.9px);
  	top: 2.72px;
  	bottom: 2.18px;
  	left: 22.8px;
  	width: 29.4px;
  	display: flex;
  	align-items: flex-start;
  	padding: 3.3px 1.1px;
  	box-sizing: border-box;
}
.search {
  	position: relative;
}
.navigationssearchbox-buttoni-icon {
  	position: absolute;
  	top: 5.99px;
  	left: 5.37px;
  	width: 13.1px;
  	height: 13.1px;
}
.see-all {
  	position: absolute;
  	top: 376.83px;
  	left: 107.28px;
  	font-size: 10.89px;
  	font-weight: 900;
  	color: #541616;
}

