html, body{
	height: 100%;
	margin: 0;
}
.desktop {
  	width: 100%;
  	height: 100%;
  	position: relative;
  	background: linear-gradient(180deg, #541616 69.23%, #eeb31a);
	overflow: hidden;
  	text-align: left;
  	font-size: 20px;
  	color: #000;
  	font-family: Lato;
}
.desktop-child {
  	top: 0%;
  	left: -397px;
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	flex-shrink: 0;
	opacity: 20%;
}
.footer-2 {
  	position: absolute;
  	width: 100%;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	height: 100px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 64px;
  	box-sizing: border-box;
  	gap: 20px;
  	flex-shrink: 0;
  	text-align: center;
}
.pampanga-state-u-logo-small-1-icon {
  	width: 57px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.text {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	gap: 32px;
}
.company {
  	display: flex;
  	align-items: center;
}
.pampanga-state-university {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 145%;
  	font-weight: 600;
}
.nav {
  	display: flex;
  	align-items: flex-start;
  	gap: 32px;
  	text-align: left;
  	font-size: 16px;
  	color: rgba(0, 0, 0, 0.55);
}
.learn-more {
  	position: relative;
  	line-height: 145%;
  	font-weight: 500;
}
.social-links {
  	width: 81px;
  	display: flex;
  	align-items: center;
  	gap: 24px;
}
.social-link-1 {
  	height: 24px;
  	width: 24px;
  	position: relative;
  	flex-shrink: 0;
}
.social-link-2 {
  	width: 33px;
  	position: relative;
  	max-height: 100%;
  	flex-shrink: 0;
}
.social-link-3 {
  	height: 24px;
  	width: 24px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.sikhay-wrapper {
  	position: absolute;
  	top: 190px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
  	font-size: 200px;
  	color: #eeb31a;
  	font-family: 'Modern Antiqua';
}
.sikhay {
  	position: relative;
  	line-height: 94%;
  	text-shadow: 12px 4px 12.3px rgba(0, 0, 0, 0.25);
}
.ellipse-parent {
  	position: absolute;
  	top: 27px;
  	right: 60px;
  	backdrop-filter: blur(17.79px);
  	border-radius: 28.46px;
  	background: rgba(238, 179, 26, 0.13) padding-box, linear-gradient(135.59deg, #541616, #d36464) border-box;
  	border: 2.1px solid transparent;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 40px 80px;
  	gap: 40px;
  	flex-shrink: 0;
  	font-size: 24px;
  	color: #fff;
}
.frame-child {
  	width: 100px;
  	height: 100px;
  	position: relative;
  	border-radius: 50%;
  	background-color: #d9d9d9;
}
.login-parent {
  	width: 250px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.login {
  	position: relative;
}
.frame-parent {
  	width: 250px;
  	height: 154.6px;
  	position: relative;
  	font-size: 13px;
}
.email-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.pampangastateueduph-parent {
  	width: 250px;
  	height: 32px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 0.7px solid #bcbec0;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	padding: 16px;
  	gap: 10px;
  	color: #bcbec0;
}
.pampangastateueduph {
  	position: relative;
  	flex-shrink: 0;
}
.frame-item {
  	height: 100px;
  	width: 100px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
}
.frame-inner {
  	height: 100px;
  	width: 100px;
  	position: relative;
  	background-color: #d9d9d9;
  	flex-shrink: 0;
}
.forgot-password {
  	position: absolute;
  	top: calc(50% + 61.28px);
  	left: calc(50% - 125px);
}
.password-parent {
  	position: absolute;
  	top: 72px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.password-group {
  	width: 250px;
  	height: 32px;
  	border-radius: 5px;
  	background-color: #fff;
  	border: 0.7px solid #bcbec0;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 16px;
  	gap: 20px;
  	color: #bcbec0;
}
.clarityeye-hide-line-icon {
  	height: 11.4px;
  	width: 11.4px;
  	position: relative;
  	border-radius: 28.46px;
  	flex-shrink: 0;
}
.sign-in-wrapper {
  	width: 250px;
  	height: 40px;
  	border-radius: 7.11px;
  	background-color: #bb0409;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 16px 0px;
  	box-sizing: border-box;
  	font-size: 16px;
}
.sign-in {
  	position: relative;
  	font-weight: 600;
  	flex-shrink: 0;
}
.dont-have-an-container {
  	align-self: stretch;
  	position: relative;
  	font-size: 9.96px;
  	text-align: center;
}
.register-for-free {
  	font-weight: 900;
}

